<servers>
  <server>
    <id>matson-matson-test</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>
<profiles>
  <profile>
    <id>matson-matson-test</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>matson-matson-test</id>
        <url>https://matson-847415613895.d.codeartifact.us-east-1.amazonaws.com/maven/matson-test/</url>
      </repository>
    </repositories>
  </profile>
</profiles>
